<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>&nbsp;</p>
  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.label :mod %>
    <%= f.check_box :mod %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.label :pub %>
    <%= f.check_box :pub %>
  </div>
  <p>&nbsp;</p>
  <div>
    <%= f.label :username, class: 'form-label' %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>
  <p>&nbsp;</p>
  <div>
    <%= f.label :email, class: 'form-label' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <p>&nbsp;</p>
  <div>
    <%= f.label :password, class: 'form-label' %>
    <%= f.text_field :password, class: 'form-control' %>
  </div>
  <p>&nbsp;</p>

  <!-- <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>
  </div> -->

  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->

  <p class="text-right">
    <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>    
    <%= f.submit 'Save', :class => 'btn btn-success' %>
 </p>

  <%#= params.inspect %>
<% end %>
