<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <p>
    <strong>Administrator:</strong>
    <%= @user.admin %>
  </p>
<% end %>

<% if current_user.mod?  or current_user.admin?%>
  <p>
    <strong>Moderator:</strong>
    <%= @user.mod %>
  </p>
<% end %>

<% if current_user.pub? or current_user.admin?%>
  <p>
    <strong>Publisher:</strong>
    <%= @user.pub %>
  </p>
<% end %>

<p>
  <strong>User Name:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
