<h2>
    Welcome to TOSEC on Rails!</h2>
<h3>Available features</h3>

<ul>
        <% if user_signed_in? %>
        <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        </li>
        <% else %>
        <li>
            <%= link_to('Login', new_user_session_path)  %>    
        </li>
        <li>
            <%= link_to('Register new user', new_user_registration_path)  %>  
        </li>
        <% end %>
</ul>

<ul>
    <li>
        <%= link_to 'Dat files', controller: 'datfiles' %>
    </li>
    <li>
        <%= link_to 'Collection types', controller: 'collection_types' %>
    </li>
    <li>
        <%= link_to 'Systems', controller: 'systems' %>
    </li>
</ul>