<p id="notice" style="text-align: right;"><%= notice %></p>

<h2>TOSEC on Rails!</h2>
    
<h3>Available features</h3>
<div class="table-responsive text-nowrap">
    <table class="table">
        <tr>
            <td>
                <p>&nbsp;</p>
                <ul>
                    <li>
                        <%= link_to 'Companies', controller: 'companies' %>
                    </li>
                    <li>
                        <%= link_to 'Systems types', systems_types_path %>
                    </li>
                    <li>
                        <%= link_to 'Systems', controller: 'systems' %>
                    </li>
                    <li>
                        <%= link_to 'Collections', controller: 'collection_types' %>
                    </li>

                    <li>
                        <%= link_to 'Dat files', controller: 'datfiles' %>
                    </li>
                    <li>
                        <%= link_to 'Dat file statuses', controller: 'datstatuses' %>
                    </li>                    
                    <li>
                        <%= link_to 'Releases', controller: 'releases' %>
                    </li>
                    <li>
                        <%= link_to 'Users', controller: 'users' %>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</div>


