<h1>Listing companies</h1>
<%= link_to 'New company', new_company_path %>
<table>
 <tr>
   <th>Title</th>
   <th>Text</th>
 </tr>

 <% @companies.each do |company| %>
   <tr>
     <td><%= company.title %></td>
     <td><%= company.text %></td>
     <td><%= link_to 'Show', company_path(company) %></td>
     <td><%= link_to 'Edit', company_path(company) %></td>
     <td><%= link_to 'Destroy', company_path(company),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
   </tr>
 <% end %>
</table>

<%= render '/welcome/bottom' %>