<h2>Listing DAT files Status</h2>
<div class="text-right">
    <%= link_to 'New DAT File Status', new_datstatus_path, class: 'btn btn-primary' %>
    <p>&nbsp;</p>
    
</div>

<div class="table-responsive text-nowrap">
  <table class="table table-hover">
    <tr>
      <th>Abbreviation</th>
      <th>Name</th>
      <th>Description</th>
      <th>&nbsp;</th>
    </tr>

    <% @statuses.each do |s| %>
      <tr>
        <td>
          <%= s.abbreviation %>
        </td>
        <td>
          <%= s.name %>
        </td>
        <td>
          <%= s.descStatus %>
        </td>
        <td class="text-right">
          <%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, datstatus_path(s), class: 'btn btn-default' %>
            <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_datstatus_path(s), class: 'btn btn-default' %>
              <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, datstatus_path(s),
          method: :delete,
          data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
      <% end %>
  </table>
  <div class="text-right">
      <%= link_to 'New DAT file Status', new_datstatus_path, class: 'btn btn-primary' %>
  </div>
</div>
<%= render '/welcome/bottom' %>