<%= form_with model: @grole, local: true do |f| %>
    <div class="row">
        <div class="col-md-12">
            <% if @grole.errors.any? %>
                <div id="error_explanation class=" form-group "">
                    <h2>
                        <%= pluralize(@grole.errors.count, "error") %> prohibited this Group role from being saved:
                    </h2>
                    <ul>
                        <% @grole.errors.full_messages.each do |msg| %>
                            <li>
                                <%= msg %>
                            </li>
                            <% end %>
                    </ul>
                </div>
                <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :user_id , "User:", for:'user', class: 'form-label'  %>
                    <%= f.collection_select :user_id, @users , :id, :email,  {}, {:class=>'form-control'} %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :role_id , "Role:", for:'role', class: 'form-label'  %>
                <%= f.collection_select :role_id, @roles , :id, :name,  {}, {:class=>'form-control'} %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :route_id , "Route:", for:'route', class: 'form-label'  %>
                <%= f.collection_select :route_id, @routes , :id, :name,  {}, {:class=>'form-control'} %>
            </div>
        </div>
    </div>
    

    <p class="text-right">
            <%= link_to 'Cancel', groles_path, class: 'btn btn-default' %>
            <%= f.submit 'Save', :class => 'btn btn-success'%>
          </p>
        <% end %>
