
<%= form_with model: @collection_type, local: true do |form| %>

<% if @collection_type.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@collection_type.errors.count, "error") %> prohibited
    this article from being saved:
  </h2>
  <ul>
    <% @collection_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :description %><br>
  <%= form.text_area :desc %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>