
<h1>Listing roles</h1>
 

<%= link_to 'New role', new_role_path %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @roles.each do |r| %>
    <tr>
      <td><%= r.name %></td>
      <td><%= link_to 'Show', role_path(r) %></td>
      <td><%= link_to 'Edit', edit_role_path(r) %></td>
      <td><%= link_to 'Destroy', role_path(r),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>