
<%= form_with model: @system, local: true do |f| %>
    <div class="row">
        <div class="col-md-12">
            <% if @system.errors.any? %>
                <div id="error_explanation">
                    <h2>
                        <%= pluralize(@system.errors.count, "error") %> prohibited this system from being saved:
                    </h2>
                    <ul>
                        <% @system.errors.full_messages.each do |msg| %>
                            <li>
                                <%= msg %>
                            </li>
                            <% end %>
                    </ul>
                </div>
                <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :name %>
                    <%= f.text_field :name , class: 'form-control'%>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :abbreviation %>
                    <%= f.text_field :abbreviation , class: 'form-control'%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :company , "Company:", for:'company'  %>
                    <%= f.text_field :company, list: 'company', class: 'form-control' %>
                        <datalist id="company">
                            <option data-value=1 value="Sony"></option>
                            <option data-value=2 value="Microsoft"></option>
                        </datalist>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :systemsType_id , "System Type:", for:'systemType'  %>
                <%= f.collection_select :systemsType_id, SystemsType.all , :id, :name,  {}, {:class=>'form-control'} %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <%= f.label :dateRelease , "Release:", for:'Release' %>
                    <div class='input-group form-datetime' id='teste'>
                            <%= f.text_field :dateRelease, class: 'form-control' %>
                            <span class="input-group-addon glyphicon glyphicon-calendar" ></span>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <%= f.submit "Save", id:'submit', class:'btn btn-success' %>
            </div>
            <div class="col-md-4">
                <%= link_to 'Back to list', systems_path, class:'btn btn-danger' %>
            </div>
        </div>
        <% end %>